<div *ngIf= "bill">
<p>table: {{bill.tableNumber}}</p>

<tr>
    <th>ProductName</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <tr>
        <td *ngFor="let product of bill.productNames | keyvalue" >{{product.value}}</td>
        <td *ngFor="let productQuantity of bill.products | keyvalue" >{{productQuantity.value}}</td>
        <td *ngFor="let productPrice of bill.productPrices | keyvalue">{{productPrice.value}}</td>
        <td><button type="submit" class="btn btn-primary btn-block"
            *ngFor="let productPrice of bill.productPrices | keyvalue"
            (click) = remove(productPrice.key) > Remove </button>
  </tr>



<p>totalPrice: {{bill.totalPrice}}</p>
</div>
