<div *ngIf= "bill">
<p>table: {{bill.tableNumber}}</p>

<tr>
    <th>ProductName</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let product of bill.products | keyvalue" >
        <td>{{product.value.name}}</td>
        <td>{{product.key}}</td>
        <td>{{product.value.price}}</td>
        <td><button type="submit" class="btn btn-primary btn-block"
            (click) = remove(product.value.id) > Remove </button> </td>
  </tr>



<p>totalPrice: {{bill.totalPrice}}</p>
</div>
