<div class="form-group" [routerLink]= "['/tables/create']" >
    <button type="submit" class="btn btn-primary btn-block"> Create Table </button>
  </div>

  <div class="form-group" [routerLink]= "['/tables/add']">
    <button type="submit" class="btn btn-primary btn-block"> Add Table </button>
  </div>

  <div class="form-group" [routerLink]= "['/bills']">
    <button type="submit" class="btn btn-primary btn-block"> Bills </button>
  </div>

  <div class="form-group" [routerLink]= "['/products']" >
    <button type="submit" class="btn btn-primary btn-block"> Products </button>
  </div>


