
<div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <form [formGroup] = "form" (submit) = add()> 
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" formControlName = "waiter" >
              <option value={{waiter.id}} *ngFor="let waiter of waiters$ | async" >{{waiter.name}}</option>
            </select>
             </div>
          <div class="alert alert-danger" *ngIf="f.waiter.errors?.required && f.waiter.touched" >
            This field is required
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" formControlName = "table" >
              <option value="{{table.id}}" *ngFor="let table of tables$ | async" >{{table.number}}</option>
            </select>
             </div>
          <div class="alert alert-danger" *ngIf="f.table.errors?.required && f.table.touched" >
            This field is required
        </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Add Table To Waiter </button>
          </div>
        </form>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
